* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

header .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.8em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 2em 0;
}

section#home {
    background-color: #fff;
}

section#about {
    background-color: #e9e9e9;
}

section#prediction {
    background-color: #fff;
}

section#contact {
    background-color: #e9e9e9;
}

h2 {
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

form label {
    margin-bottom: 5px;
}

form input {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 100%;
    border: 1px solid #ccc;
}

form button {
    padding: 1em;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}
